body {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 14px;
   background-color: #FFFFFF;
}

label {
   font-weight: bold;
   width: 100px;
   font-size: 14px;
}

.error {
  font-size: 11px;
  color: #CC0000;
  margin-top: 10px;
}

.center {
  width: 300px;
  margin: auto;
  border: solid 1px #333333;
}

.title {
  background-color: #333333;
  color: #FFFFFF;
  padding: 3px;
}

.box {
   border: #666666 solid 1px;
}

.paddedbox {
  margin: 30px;
}
